
@media screen and (max-width:576px) {
    .header-right label{
        display: block;
        visibility: visible;
        margin-top: 12px;
    }
    .header-right label{
        font-size: 25px;
    }
    .header-right input{
        visibility: hidden;
        display: none;
    }
    .header-right ul li {
        text-align: center;
        padding: 6px;
    }
    .header-right ul {
        position: absolute;
        top: 4rem;
        left: 0;
        background: black;
        visibility: hidden;
        display: block;
        width: 100%;
        padding: 1rem;
    }
    .header-right ul li a {
        color: #ededed;
    }
    input#click:checked ~ ul {
        visibility: visible;
    }

    .banner-text h2 {
        font-size: 2rem;
    }
    .banner-text {
        padding: 3rem 0;
    }
    .form form {
        flex-direction: column;
    }
    form > input, select {
        margin: 5px 0px;
        width: 100%;
    }
    .btn {
        justify-content: center;
    }
}

@media screen and (max-width:576px) {
    .header-left .logo a img {
        width: 80%;
    }
    .logo-text {
        padding: 0 ;
    }
    .header-left .logo-text a h2 {
        font-size: 22px;
    }
    .header-right label {
        font-size: 20px;
    }
    .header-right label {
        margin-top: 5px;
    }

    .banner-text p {
        padding: 0;
    }
}

